name: 'Leaf'
scopeName: 'text.html.leaf'
type: 'tree-sitter'
parser: 'tree-sitter-leaf'
fileTypes: ['leaf']
injectionRegex: 'leaf|Leaf'
scopes:
  'raw_text': 'none'
  'tag': 'none'
  'tag > name': 'entity.name.tag'
  'tag > parameter_list': 'none'
  'tag > parameter_list > operator_parameter': 'none'
  'tag > parameter_list > identifier': 'constant'
  'else_if': 'entity.name.tag'
  'else_if > body': 'none'
  'else': 'entity.name.tag'
  'else > body': 'none'
  'string_parameter': 'string'
