name: 'HTML (Leaf)'
scopeName: 'text.html.leaf'
type: 'tree-sitter'
parser: 'tree-sitter-leaf'
fileTypes: ['leaf']
injectionRegex: 'leaf|Leaf'
scopes:
  'comment': 'comment'
  'tag': 'variable'
  'tag_name': 'variable'
  'else_if': 'variable'
  'else': 'variable'
  'variable': 'variable'
  'parameter_list': 'none'
  'operator': 'none'
  'identifier': 'constant'
  'body': 'none'
  'string_parameter': 'string'
