name: 'Leaf'
scopeName: 'text.html.leaf'
type: 'tree-sitter'
parser: 'tree-sitter-leaf'
fileTypes: ['leaf']
injectionRegex: 'leaf|Leaf'
scopes:
  'raw_text': 'none'
  'comment': 'comment'
  'comment > raw_text': 'comment'
  'tag': 'variable'
  'tag > name': 'variable'
  'else_if': 'variable'
  'else': 'variable'
  'parameter_list': 'none'
  'parameter_list > operator_parameter': 'none'
  'parameter_list > identifier': 'constant'
  'body': 'none'
  'string_parameter': 'string'
